.container {
    padding: 0 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile_container {
    padding: 0 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
}

.header_text {
    font-size: var(--xxl-font);
    font-family: monospace;
    font-weight: bold;
}

.header_filter_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 2rem;
}

.mobile_header_filter_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 2rem;
}

.content_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
    list-style: none;
}

.mobile_content_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.empty_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}

.pagination_container {
    margin-top: 2rem;
    min-height: 2rem;
    width: 100%;
}