/* --------------------------
   ROOT VARIABLES
---------------------------*/

:root {
  --huge-font: 1.5rem;
  --xxl-font: 1.3rem;
  --xl-font: 1.2rem;
  --l-font: 1rem;
  --m-font: 0.9rem;
  --sm-font: 0.8rem;
  --xs-font: 0.7rem;
  --xxs-font: 0.6rem;
  --tiny-font: 0.5rem;


  --mobile-bar-height: 4rem;
  --desktop-bar-height: 3.5rem;
  --desktop-navbar-width: 18rem;
  --font-global: Quicksand, sans-serif;

  --accent: #06a700;
  --accent-sec: #1ff02a;
  /* #9014d8; */
  --accent-feint: #11c80b74;


  /* Rendering Quality */
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --color: #000000;
    --background-sec: #eeeeee;
    --background-fade: #2424249d;
    --color-fade: #5a5a5a;
    --text-fade: #a5a5a5;
    --border-normal: #727272;
    --border-fade: #dddddd;
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --color: #f1f1f1;
    --background-sec: #000000;
    --background-fade: #0000009d;
    --color-fade: #c2c2c2;
    --text-fade: #707070;
    --border-normal: #3a3a3a;
    --border-fade: #42424261;
  }
}





body {
  background: var(--background);
  color: var(--color);
  font-family: var(--font-global);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--m-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--accent-feint);
  cursor: pointer;
}



*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  cursor: grabbing;
}


button,
input {
  outline: none;
  border: none;
  font-family: var(--font-global);
  font-weight: 600;
  cursor: pointer;
  color: var(--color);
  background-color: var(--accent);
  transition: background-color ease-in-out .275s;
}

button:hover {
  background-color: var(--accent-sec);
}

button:disabled {
  background-color: #42424261;
  color: #3a3a3a;
  cursor: not-allowed;
}


a {
  text-decoration: none;
  color: var(--color);
}

/* 1. Change the bar color and height */
#nprogress .bar {
  background: var(--accent) !important;
  /* Put your hex color here */
  height: 3px !important;
  /* Make it thicker or thinner */
}

/* 2. Change the color of the "glow" on the right side */
#nprogress .peg {
  box-shadow: 0 0 10px var(--accent), 0 0 5px var(--accent-feint) !important;
}

/* 3. Change the spinner color (the little circle in the corner) */
#nprogress .spinner-icon {
  border-top-color: var(--accent) !important;
  border-left-color: var(--accent) !important;
}

#nprogress .spinner {
  display: none !important;
}